<html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
    
    <center><div><h1>REAL TIME NEWS UPDATES</h1></div></center>
 
     <center>
         <select style="width:200px;height:30px" id="sel1">
            <option name="TECH" value="TECH">TECHNOLOGY</option>
            <option name="FINANCE" value="FINANCE">FINANCE</option>
            <option name="POLITICS" value="POLITICS">POLITICS</option>
            <option name="SPORTS" value="SPORTS">SPORTS</option>
     </select>
     <br><br>
     <button id="button">GET UPDATES</button>
     </center>
     
     
     <br><br>
    
    <div id="updates">
        <ul id="append_updates"></ul>
    </div>
    <div class="wrapper">

        <script>
            
            $(document).ready(function(){
                
                var curr,prev;
                var firstcall=true;
                
                
                $('#button').on('click',function(){
                    var news=$('#sel1').val()
                
                    console.log(news)
                    
                    setInterval(function(){
                        console.log('DATA..');
                        
                        $.ajax({
                        url: "http://"+window.location.host+"/pubsubRESTAPI/"+news+"/",
                        type: 'GET',
                        success: function(res) {
                            
                            console.log(res['message']);
                            //alert(res);
                        },
                        error: function(err){
                            console.log(err);
                        }
                    });
                    
                    },10000);
                    
                                        
                    
                });
            
        });
            
    
            
        </script>
    </div>
    </body>
</html>