<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
    
    <center><h1>Real time Stock Analysis</h1></center>
    <br><br>
    
    <center>
        <form action="stocks/" method="GET">
          <select style="width:200px;height:30px" id="sel1">
            <option name="MSFT" value="MSFT">MSFT</option>
            <option name="GOOGL" value="GOOGL">GOOGL</option>
            <option name="BTC" value="BTC">BTC</option>
            <option name="LNKD" value="LNKD">LNKD</option>
          </select>
        <input type="submit" value="Submit"/>
    </form>
    </center>
    
    
    
    
</body>
</html>